{
  "printWidth": 200,
  "singleQuote": true,
  "bracketSpacing": false,
  "arrowParens": "always",
  "trailingComma": "es5",
  "svelteSortOrder": "scripts-styles-options-markup",
  "svelteCssFiles": ["test/samples/css/action.css", "test/samples/css/base.css", "test/samples/css/colors.css", "test/samples/css/font.css", "test/samples/css/layout.css"],
  "svelteCssOrderFile": "test/samples/cmexpro.mjs",
  "svelteImportOrderDirs": ["const", "config", "emum", "map,", "core", "helper", "storage", "store", "formula", "da", "api", "directives", "icons", "modules", "widgets", "observable", "streams"],
  "svelteImportOrderFiles": ["const", "consts", "until", "untils", "streams", "*.svelte", "*.lang"],
  "pathAlias": ["@"],
  "plugins": ["./plugin.js"],
  "overrides": [
    {
      "files": ["*.svelte"],
      "options": {
        "parser": "svelte"
      }
    },
    {
      "files": ["*.js"],
      "options": {
        "parser": "importJs"
      }
    }
  ]
}
