/* 变量定义 */
:root {
  --fw1: 400;
  --fw2: 500;
  --fw3: 600;
  --common-family: BASE, 'Helvetica Neue', Helvetica, PingFangSC, -apple-system, 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}
.b {
  font-weight: bold;
}
.fw1 {
  font-weight: var(--fw1);
}
.fw2 {
  font-weight: var(--fw2);
}
.fw3 {
  font-weight: var(--fw3);
}
.f10 {
  font-size: 12px;
  transform: scale(0.8333);
}
.f12 {
  font-size: 12px;
}
.f14 {
  font-size: 14px;
}
.f16 {
  font-size: 16px;
}
.f18 {
  font-size: 18px;
}
.f20 {
  font-size: 20px;
}
.f22 {
  font-size: 22px;
}
.f24 {
  font-size: 24px;
}
.f28 {
  font-size: 28px;
}
.f30 {
  font-size: 30px;
}
.f32 {
  font-size: 32px;
}
.f36 {
  font-size: 36px;
}
.f40 {
  font-size: 40px;
}
.ooo {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ttu {
  text-transform: uppercase;
}
.roboto {
  font-family: Roboto-Regular, Roboto;
}
.gilory,
.gilroy {
  font-family: gilroy-medium;
}
.dinpro {
  font-family: DINPro-Medium;
}
